$mdc-theme-primary: black
$mdc-theme-secondary: black

@import '@material/form-field/mdc-form-field'
@import '@material/checkbox/mdc-checkbox'
@import '@material/textfield/mdc-text-field'
@import '@material/button/mdc-button'
@import '@material/snackbar/mdc-snackbar'

html
    height: 100%
    font-family: 'Roboto Mono', monospace

body
    display: flex
    flex-direction: column
    box-sizing: border-box
    height: 100%
    padding: 0 16px
    margin: 0

    @media (min-width: 480px)
        margin: auto
        width: 480px

    > *
        flex-shrink: 0

header
    margin: 8px 0

h1
    font-weight: 500
    white-space: nowrap
    margin: 0

form
    margin-right: -8px
    margin-left: -8px

    > *
        width: calc(50% - 16px)
        margin-right: 8px
        margin-left: 8px

.mdc-form-field
    font-family: inherit
    font-size: inherit
    margin-top: 8px
    margin-bottom: 8px

/* temp */
.mdc-text-field::before, .mdc-text-field::after
    content: none

.mdc-text-field
    margin-top: 8px
    margin-bottom: 8px

.mdc-text-field__input
    font-family: inherit

.mdc-floating-label
    font-family: inherit

.mdc-button
    font-family: inherit
    vertical-align: top
    height: 48px
    margin-top: 8px
    margin-bottom: 8px

.gap
    flex-grow: 1

footer
    text-align: right
    margin-top: 8px
    padding-bottom: 16px

a
    color: inherit
    text-decoration: inherit

.mdc-snackbar
    transform: translateY(100%)

    @media (min-width: 600px)
        transform: translate(-50%, 100%)

.mdc-snackbar__text
    font-family: inherit